{% extends 'base.html' %}

{% block title %} | Delivery Policy {% endblock %}

{% block content %}

<br>
<table class="w-100">
    <tr>
        <td class="w-2">&nbsp;</td>
        <td class="w-96 left">
            <p class="titulo_sucursal center">Pol&iacute;ticas de Entrega</p>
            <br><br>
			
<p><strong>Gastos de env&iacute;o</strong></p>
<p style="text-align: justify;">Son los consignados en la factura. En caso de devoluci&oacute;n de la mercanc&iacute;a (Art.44 de la Ley de Ordenaci&oacute;n del Comercio Minorista), los gastos de env&iacute;o correr&aacute;n por cuenta del cliente.</p>
<p><strong>Plazo de entrega</strong></p>
<p style="text-align: justify;">Para garantizar la mayor seguridad y rapidez, todos los pedidos son enviados a trav&eacute;s de la mensajer&iacute;a privada, 
    recibir&aacute;s un email con la informaci&oacute;n del n&uacute;mero de tracking y un enlace para que puedas realizar seguimiento del mismo a 
    trav&eacute;s de la website.</p>
<p style="text-align: justify;">Los plazos de transporte orientativos est&aacute;n disponibles en el apartado de nuestra web "Preguntas Frecuentes: ¿Cu&aacute;nto tiempo tardar&aacute; en llegar mi Pedido Optica Ideal desde que realic&eacute; 
    la compra?"</p>
<p style="text-align: justify;">Antes de confirmar tu pedido se te informar&aacute; sobre unos gastos de env&iacute;o y plazos de transporte, 
    estos &uacute;ltimos orientativos, que aplican a tu pedido en concreto. 
    No obstante, ambos podr&aacute;n variar en funci&oacute;n de las circunstancias concretas de cada pedido. 
    En especial:</p>
<p style="text-align: justify;">-Los plazos de transporte se pueden ver alterados por incidencias extraordinarias en el transportista y por dificultades 
    en la entrega de la mercanc&iacute;a.</p>
<p><strong>Transporte</strong></p>
<p style="text-align: justify;">Los env&iacute;os de mercanc&iacute;a se realizan diariamente de lunes a viernes y siempre habiendo concretado la 
    direcci&oacute;n con el cliente. El transporte de los productos ser&aacute; el consignado en 
    el pedido. En caso de desperfectos debidos al transporte, el cliente deber&aacute; hacerlo constar en el terminal 
    m&oacute;vil del transportista en el momento de la firma. No se admitir&aacute;n reclamaciones de desperfectos causados por el transporte pasadas 
    24 horas desde la recepci&oacute;n y entrega de la mercanc&iacute;a. A la entrega de la mercanc&iacute;a, 
    el cliente recibir&aacute; el albar&aacute;n correspondiente.</p>

        </td>
        <td class="w-2">&nbsp;</td>
    </tr>
</table>

<!--pie de pagina-->
{% include 'pages/pie_pagina.html' %}

{% endblock %}