{% extends 'base.html' %}

{% block title %} | FAQs {% endblock %}

{% block content %}

<br>
<table class="w-100">
    <tr>
        <td class="w-2">&nbsp;</td>
        <td class="w-96 left">
            <p class="titulo_sucursal center">Preguntas Frecuentes</p>
            <br><br>
			
            <h4><span>¿C&oacute;mo puedo pagar mi compra?</span></h4>
			
            <p>Puedes pagar tu compra con las tarjetas VISA y MASTERCARD, as&iacute; como mediante transferencia bancaria o al recibirlo en tu domicilio contrarrembolso.</p>
            <p>&nbsp;</p>
            
            <h4><span>No me funciona la tarjeta de cr&eacute;dito o d&eacute;bito</span></h4>
                        
            <p>Si tienes problemas con tu tarjeta, por favor contacta con tu banco. Ten en cuenta que, por seguridad, el pago con tarjeta se realiza en una pasarela de pago seguro y requiere de 
                las claves de comercio electr&oacute;nico seguro que te haya proporcionado tu banco, no siendo suficiente con el cvc.</p>
            <p>Si desconoces estas claves, puedes contactar con tu banco o bien, realizar el pago mediante transferencia o contrarembolso.</p>
            <p>&nbsp;</p>
            
            <h4><span>¿Cu&aacute;ndo me va a llegar mi pedido?</span></h4>
                        
            <p>Nuestros pedidos tardan un m&aacute;ximo de 5 a 10 d&iacute;s <strong>desde que salen de nuestros almacenes</strong> y se entregan al cliente.</p>
            <p>De manera excepcional, las zonas remotas pueden sufrir una demora de 5 d&iacute;as sobre estos plazos.</p>
            <p>Aunque nuestros env&iacute;os son s&uacute;per r&aacute;pidos, ten en cuenta que en fin de semana, festivos y vacaciones informadas en nuestra web no preparamos pedidos. 
                Por ejemplo, si haces una compra el lunes a las tres de la tarde, el pedido te 
                llegar&iacute;a el martes, pero si la haces el viernes por la noche, nosotros lo prepararemos durante 
                el lunes y te llegar&iacute;a el martes. Lo mismo pasa para los d&iacute;as festivos nacionales o locales.</p>
            <p>&nbsp;</p>
            
            <h4><span>¿Puedo devolver un producto que he comprado por la tienda online?</span></h4>
                        Si la devoluci&oacute;n es debido a un defecto del producto, que esperemos que no pase, 
                        por supuesto que podr&aacute;s devolver tu pedido sin ning&uacute;n coste.</p>
            <p>En los dem&aacute;s casos, aceptaremos la devoluci&oacute;n de tu pedido pero los costes de env&iacute;o de 
                devoluci&oacute;n no los asumiremos nosotros.</p>
            <br><br><br>
        </td>
        <td class="w-2">&nbsp;</td>
    </tr>
</table>

<!--pie de pagina-->
{% include 'pages/pie_pagina.html' %}

{% endblock %}