<br>
<div class="row pie_fondo">
    <div class="col-sm-4 left">
        <div class="titulo_pie">Links</div>
        <ul>
            <li class="pointer" onclick="window.open('/ventas_ropa/privacy_policy/', '_self');">Pol&iacute;tica de Privacidad</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/refund_policy/', '_self');">Pol&iacute;tica de Reembolso</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/terms_service/', '_self');">T&eacute;rminos de Servicio</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/delivery_policy/', '_self');">Pol&iacute;tica de Entrega</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/faqs/', '_self');">Preguntas Frecuentes</li>
        </ul>
    </div>

    <div class="col-sm-4 left">
        <div class="titulo_pie">Informaci&oacute;n de la Empresa</div>
        <ul>
            <li class="pointer" onclick="window.open('/ventas_ropa/sucursalesempresa/', '_self');">Av. San Martin &#35; 147</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/acercade/', '_self');">Acerca la Empresa</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/acercade/', '_self');">Objetivo General</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/acercade/', '_self');">Valores</li>
        </ul>
    </div>

    <div class="col-sm-4 left">
        <div class="titulo_pie">Contactenos</div>

        <ul>
            <li class="pointer" onclick="window.open('/ventas_ropa/contactenos/', '_self');">info@opticaideal.com</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/contactenos/', '_self');">Cochambaba-Bolivia</li>
            <li class="pointer" onclick="window.open('/ventas_ropa/contactenos/', '_self');">Fonos: 4331765 - 70791680</li>
        </ul>
    </div>
</div>
<div class="row pie_redes">
    <div class="col-sm-12 right">
        <i class="fab fa-facebook redes_color pointer" style="font-size: 30px;"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fab fa-twitter redes_color pointer" style="font-size: 30px;"></i>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <i class="fab fa-youtube redes_color pointer" style="font-size: 30px;"></i>
    </div>
</div>
