{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% load jinja_tags %}

{% block title %} | Productos {% endblock %}
{% block js_modulo %}
<script type="text/javascript" src="{% static "" %}js/home_page.js"></script>
{% endblock %}

{% block content %}
<br>
<!--nuevo form de busqueda-->
<div id="div_superior" class="center">
{% include 'pages/productos_inicio_superior.html' %}
</div>

<form name="form_producto" method="POST" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="search_producto_x" value="acc">
    <input type="hidden" name="producto" value="{{producto_session}}">
    
    <input type="hidden" name="tipos_montura_select" value="{{tipos_montura_select}}">
    <input type="hidden" name="disenio_lentes_select" value="{{disenio_lentes_select}}">
    <input type="hidden" name="materiales_select" value="{{materiales_select}}">
    <input type="hidden" name="colores_select" value="{{colores_select}}">
    <input type="hidden" name="marcas_select" value="{{marcas_select}}">
    
    <input type="hidden" name="oferta" value="{{oferta}}">
    <input type="hidden" name="mas_vendido" value="{{mas_vendido}}">
    <input type="hidden" name="novedad" value="{{novedad}}">
</form>
<form name="form_linea" method="POST" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="search_linea_x" value="acc">
    <input type="hidden" name="linea" value="{{linea_session}}">
    
    <input type="hidden" name="tipos_montura_select" value="{{tipos_montura_select}}">
    <input type="hidden" name="disenio_lentes_select" value="{{disenio_lentes_select}}">
    <input type="hidden" name="materiales_select" value="{{materiales_select}}">
    <input type="hidden" name="colores_select" value="{{colores_select}}">
    <input type="hidden" name="marcas_select" value="{{marcas_select}}">
    
    <input type="hidden" name="oferta" value="{{oferta}}">
    <input type="hidden" name="mas_vendido" value="{{mas_vendido}}">
    <input type="hidden" name="novedad" value="{{novedad}}">
</form>
<form name="form_operation" method="POST" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="operation_x" value="">
    <input type="hidden" name="id" value="">
    <input type="hidden" name="url_main" value="{{url_main}}">
</form>
<form name="form_inicio" method="POST" action="{{url_index}}">
    {% csrf_token %}
</form>
<form name="form_cart" method="POST" action="{{url_main}}">
    {% csrf_token %}
    <input type="hidden" name="operation_x" value="">
    <input type="hidden" name="id" value="">
    <input type="hidden" name="url_main" value="{{url_main}}">
</form>
<form name="form_detalle" method="GET" action="{{url_main}}">
    <input type="hidden" name="id" value="">
    <input type="hidden" name="producto" value="">
</form>

<!--cuadros-->
<div id="div_listado" class="center">
{% include 'pages/productos_inicio_listado.html' %}
</div>
<br><br><br><br><br><br>
<!--pie de pagina-->
{% include 'pages/pie_pagina.html' %}

{% endblock %}