{% load static %}
{% load jinja_tags %}

<div class="row">
    <!-- cabecera de la seccion de productos -->
    <div class="card direct-chat direct-chat-primary w-98 center {% if detalle_producto == 1 %}collapsed-card{% endif %}">
        <div id="loading_search">
        </div>
        <div class="card-header back_tabs">
          <h3 class="card-title"><span id="span_producto" class="link_lineas">
              {% autoescape off %}{{txt_producto}}{% endautoescape %}
            </span></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="{% if detalle_producto == 1 %}fas fa-plus{% else %}fas fa-minus{% endif %}"></i>
            </button>
          </div>
        </div>
        <!-- datos para la busqueda -->
        <div class="card-body w-100">
        <table class="table3 w-100">
            <tr class="back1">
                <td class="w-20 right">Producto&nbsp;</td>
                <td class="w-80 left">
                    <input type="text" class="form-control input w-60 left" value="{{producto_session}}" name="producto_search" id="producto_search">
                    <!-- <button class="btn btn-primary btn-sm" onclick="return buscarProducto();">Buscar<img src="{% static 'img/png/buscar.png' %}" class="ico_img pointer"></button> -->
                </td>
            </tr>
            <tr class="back2">
                <td class="w-20 right">Montura&nbsp;</td>
                <td class="w-80 left">
                    <select class="form-control input w-99 select2" name="tm_select" id="tm_select" multiple="multiple" data-placeholder="Montura">
                        {% for montura in lista_tipos_montura %}
                        {% with is_select=montura.tipo_montura_id|check_montura_select:tipos_montura_select %}
                        <option value="{{montura.tipo_montura_id}}" {% if is_select == 1 %}selected{% endif %}>{{montura.tipo_montura}}</option>
                        {% endwith %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr class="back1">
                <td class="w-20 right">Material&nbsp;</td>
                <td class="w-80 left">
                    <select class="form-control input w-99 select2" name="mat_select" id="mat_select" multiple="multiple" data-placeholder="Material">
                        {% for material in lista_materiales %}
                        {% with is_select=material.material_id|check_material_select:materiales_select %}
                        <option value="{{material.material_id}}" {% if is_select == 1 %}selected{% endif %}>{{material.material}}</option>
                        {% endwith %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            
            <tr class="back2">
                <td colspan="2" class="w-100 right">
                    <table class="tablec w-100">
                        <tr>
                            <td class="w93" style="border: 0 !important;">&nbsp;</td>
                            <td class="w-1 right v-top" style="border: 0 !important;">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="aux_oferta" name="aux_oferta" {% if oferta == '1' %}checked{% endif %}>
                                    <label for="aux_oferta" class="custom-control-label">Oferta</label>
                                </div>
                            </td>
                            <td class="w-1" style="border: 0 !important;">&nbsp;</td>
                            <td class="w-1 right v-top " style="border: 0 !important;">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="aux_mas_vendido" name="aux_mas_vendido" {% if mas_vendido == '1' %}checked{% endif %}>
                                    <label for="aux_mas_vendido" class="custom-control-label">Mas&nbsp;Vendido</label>
                                </div>
                            </td>
                            <td class="w-1" style="border: 0 !important;">&nbsp;</td>
                            <td class="w-1 right v-top" style="border: 0 !important;">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="aux_novedad" name="aux_novedad" {% if novedad == '1' %}checked{% endif %}>
                                    <label for="aux_novedad" class="custom-control-label">Novedad</label>
                                </div>
                            </td>
                            <td class="w-1" style="border: 0 !important;">&nbsp;</td>
                            <td class="w-1 right v-top" style="border: 0 !important;">
                                <button class="btn btn-primary btn-sm" id="btnFiltrar" onclick="filtrarBusqueda();">Buscar</button>
                            &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        </div>
            
        <!-- fin datos para la busqueda -->
    </div>
    <!--fin cabecera -->
    
    <!-- cabecera de la seccion de productos -->
    <div class="card direct-chat direct-chat-primary w-98 center collapsed-card">
        <div id="loading_search">
        </div>
        <div class="card-header back_tabs">
          <h3 class="card-title"><span id="span_producto" class="link_lineas">
              B&uacute;squeda por L&iacute;nea
            </span></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </div>
        <!-- datos para la busqueda -->
        <div class="card-body w-100">
        <table class="table3 w-100">
            
            {% for linea in lista_lineas %}
            {% if linea_session == linea.linea_id %}
            <tr class="back{{forloop.counter|back_class}}">
                <td colspan="2" class="w-100 left">
                    {% autoescape off %}{{linea.espacios}}{% endautoescape %}&#45; <span id="span_linea_{{linea.linea_id}}" class="link_productos_down pointer" onclick="escogerLinea('{{linea.linea_id}}', 'si'); marcarLinea('{{linea.linea_id}}');">{{linea.linea}}</span>
                </td>
            </tr>
            {% else %}
            <tr class="back{{forloop.counter|back_class}}">
                <td colspan="2" class="w-100 left">
                    {% autoescape off %}{{linea.espacios}}{% endautoescape %}&#45; <span id="span_linea_{{linea.linea_id}}" class="link_productos pointer" onclick="escogerLinea('{{linea.linea_id}}', 'si');marcarLinea('{{linea.linea_id}}');">{{linea.linea}}</span>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        </div>
            
        <!-- fin datos para la busqueda -->
    </div>
    <!--fin cabecera -->
</div>
