{% extends 'base.html' %}

{% block title %} | Refund Policy {% endblock %}

{% block content %}

<br>
<table class="w-100">
    <tr>
        <td class="w-2">&nbsp;</td>
        <td class="w-96 left">
            <p class="titulo_sucursal center">Pol&iacute;tica de Reembolso</p>
            <br>
            <ol>
            <li>COSTO: El costo del env&iacute;o a cualquier parte de la Rep&uacute;blica es de Bs. 50.</li>
            <li>TIEMPO DE ENTREGA:  Una vez realizado el pago, Optica Ideal tardar&aacute; m&aacute;ximo 5 d&iacute;as h&aacute;biles en poner el pedido en mensajer&iacute;a. La mensajer&iacute;a tardar&aacute; de 3 a 5 d&iacute;as h&aacute;biles  en entregar a tu destino, 
                por lo que los pedidos llegan en un m&aacute;ximo de 10 d&iacute;as h&aacute;biles. </li>
            </ol>
            <p><strong>POL&Iacute;TICAS PARA LA DEVOLUCI&Oacute;N DE PRODUCTOS Y REEMBOLSO.</strong></p>
            <p>En Optica Ideal queremos que nuestro cliente este satisfecho con los productos adquiridos. Si por alguna raz&oacute;n no est&aacute;s contento con el producto enviado, 
                te facilitamos la reposici&oacute;n del mismo o bien la cancelaci&oacute;n de la operaci&oacute;n de compraventa 
                y la devoluci&oacute;n del importe del producto, por medio de un proceso simple y gratuito.</p>
            <p>Es importante, no abrir, romper, manipular o utilizar el producto a devolver, siendo que como primera condici&oacute;n para que resulte procedente la reposici&oacute;n del producto o reembolso del importe del mismo, 
                es necesario que el producto a devolver sea restituido a Optica Ideal, en el mismo estado en el que fuera enviado por 
                Optica Ideal.</p>
            <p>Es decir, si la caja llega rota o el producto abierto por favor haga lo siguiente para poder reportarlo y regresarle el dinero o mandarle un nuevo paquete:</p>
            <ol>
            <li>Tomar fotos del paquete cuando es recibido en mal estado. </li>
            <li>Mandar las fotos y reportar el evento inmediato a <span><a href="mailto:refund@ntsoft-bolivia.com">refund@ntsoft-bolivia.com</a></span>. Se tiene 24 horas para reportar cualquier anomal&iacute;a. 
                El tiempo empieza a contar desde que se recibe el paquete.</li>
            <li>En el dado caso sea culpa de Optica Ideal o la paqueter&iacute;a, nosotros mandamos un paquete nuevo con la mercancia y una gu&iacute;a para devolver el producto de manera gratuita.</li>
            </ol>
            <p> </p>
            <p><strong>DEVOLUCI&Oacute;N Y REMBOLSO DEL PRODUCTO SI NO TE GUSTA O NO ES LO QUE ESPERABAS DEL PRODUCTO:</strong></p>
            <p>Para cumplir las condiciones de devoluci&oacute;n, reposici&oacute;n del producto o reembolso del importe del mismo, el comprador, usuario o consumidor deber&aacute; cumplir con las siguientes condiciones: </p>
            <ol>
            <li>Dentro de los cinco (5) d&iacute;as naturales siguientes a haber recibido el producto adquirido, deber&aacute; dar aviso a Optica Ideal, a trav&eacute;s de su Centro de Atenci&oacute;n a Clientes de Optica Ideal , v&iacute;a telef&oacute;nica 
                al <strong>(591) 4239145 </strong>o siprefiere v&iacute;a correo electr&oacute;nico a  <span><a href="mailto:refund@ntsoft-bolivia.com">refund@ntsoft-bolivia.com</a></span>  expresando su voluntad de devolver el producto y solicitar la reposici&oacute;n del mismo o bien la 
                cancelaci&oacute;n de la operaci&oacute;n de compraventa y la devoluci&oacute;n del importe del producto.</li>
            <li>Posteriormente, dentro de los diez (10) d&iacute;as naturales, siguientes a su aviso, deber&aacute; devolver el producto a Optica Ideal por servicio de mensajer&iacute;a privada, utilizando de preferencia, 
                la misma compañ&iacute;a de mensajer&iacute;a que le entreg&oacute; el producto, 
                al domicilio ubicado en Av. Rep&uacute;blica &#35; 4223</li>
            <li>El comprador, usuario o consumidor cubrir&aacute; el costo de la paqueter&iacute;a o mensajer&iacute;a utilizada para devolver el producto a Optica Ideal, y por consiguiente correr&aacute; por cuenta de &eacute;ste el riesgo por la perdida, menoscabo, destrucci&oacute;n, etc. del producto devuelto, hasta en tanto este es recibido por Optica Ideal, en el domicilio descrito en el inciso anterior.</li>
            <li>El producto devuelto debe ser recibido por Optica Ideal, en las mismas condiciones en que &eacute;ste fue enviado al comprador, consumidor o usuario, estando en la caja o empaque original, no presentar alteraci&oacute;n alguna y no estar abierto –en el caso de que sean productos consumibles- de lo contrario la devoluci&oacute;n no ser&aacute; procedente.</li>
            <li>Dentro de las 48 hrs (CUARENTA Y OCHO HORAS) siguientes a que Optica Ideal reciba el producto devuelto, Optica Ideal se pondr&aacute; en contacto contigo para confirmar la reposici&oacute;n de la mercanc&iacute;a o el reembolso del importe del mismo.</li>
            </ol>
            <p>Optica Ideal con gusto acepta tus devoluciones y har&aacute; la reposici&oacute;n del producto o el reembolso del importe de tu compra con opciones que t&uacute; eliges: </p>
            <ul>
            <li>Optica Ideal cambiar&aacute; el producto devuelto por uno igual, o bien por otro con valor igual al producto devuelto, a elecci&oacute;n del comprador, usuario o consumidor. </li>
            <li>Devoluci&oacute;n del importe del producto devuelto, para lo cual comprador, usuario o consumidor tendr&aacute; alguna de las siguientes opciones:</li>
            <li>Devoluci&oacute;n a tu tarjeta de cr&eacute;dito/d&eacute;bito por el valor del producto que se compro en Optica Ideal.</li>
            <li>Si tu pago fue realizado en efectivo, o mediante dep&oacute;sito directo en ventanilla a la cuenta de Optica Ideal, ser&aacute; necesario que proporciones el n&uacute;mero de alguna cuenta bancaria a la cual Optica Ideal pueda hacer la devoluci&oacute;n del importe del producto devuelto.</li>
            </ul>
            <p>Estas pol&iacute;ticas de devoluciones aplican &uacute;nica y exclusivamente para ventas directas al menudeo, y por ning&uacute;n motivo aplicar&aacute;n para compradores mayoristas, revendedores, distribuidores y agentes comerciales que comercialicen los productos de Optica Ideal, con los que exista una relaci&oacute;n comercial y de negocios continua.</p>
            <p>Para dudas y/o aclaraciones, favor de contactarnos por medio de nuestro centro de atenci&oacute;n al cliente a info@ntsoft-bolivia.com</p>
            <p> </p>

        </td>
        <td class="w-2">&nbsp;</td>
    </tr>
</table>

<!--pie de pagina-->
{% include 'pages/pie_pagina.html' %}

{% endblock %}