{% load jinja_tags %}
<br>
<span class="index_titulo">Reserve su Cita</span><br>
<br>
<table class="w-100 center">
    <tr>
        <td class="w-96 h-40 v-middle">
            Mes: <span id="span_periodo_actual">{{periodo_actual|get_show_periodo}}</span>
            <input type="hidden" id="periodo_actual" value="{{periodo_actual}}">
        </td>
        <td class="w-2 center h-40 v-middle">
            <button class="btn btn-primary btn-sm h-30" name="btn_ant" onclick="calendarioSearchPeriodo('{{periodo_ant}}');">
                <i class="nav-icon fas fa-angle-left">&nbsp;</i>
            </button>
        </td>
        <td class="w-2 center h-40 v-middle">
            <button class="btn btn-primary btn-sm h-30" name="btn_next" onclick="calendarioSearchPeriodo('{{periodo_next}}');">
                <i class="nav-icon fas fa-angle-right">&nbsp;</i>
            </button>
        </td>
    </tr>
</table>
<form name="formulario" method="POST" action="" onsubmit="return false;">
    {% csrf_token %}
    <table class="table_calendario w-100">
        <tr>
            <th class="w-14 center">
                Lun
            </th>
            <th class="w-14 center">
                Mar
            </th>
            <th class="w-14 center">
                Mie
            </th>
            <th class="w-14 center">
                Jue
            </th>
            <th class="w-14 center">
                Vie
            </th>
            <th class="w-15 center">
                Sab
            </th>
            <th class="w-15 center">
                Dom
            </th>
        </tr>

        {% for semana in calendario %}
        <tr class="back{{forloop.counter|back_class}}">
            {% for dia_semana in semana %}
            <td class="center w-{% if forloop.counter <= 5 %}14{% else %}15{% endif %} v-top pointer" onclick="calendarioShowDia('{{dia_semana.dia}}');">
                {% if dia_semana.existe == 1 %}
                <table class="table_calendario_interno w-100">
                    <tr>
                        <td class="calendario_dia right w-100 v-top backcalendario pointer">
                        <i>{{dia_semana.dia}}</i>
                        </td>
                    </tr>
                    {% for actividad in dia_semana.lista_actividades %}
                    {% if actividad.status_id == status_venta %}
                    <tr>
                        <td nowrap class="calendario_dia center w-100 backventa">
                        <span class="font14 frontventa">{{actividad.nombres_min}}{{actividad.apellidos_min}} {{actividad.hora_ini}}</span>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                <!--modal listado de actividades-->
                <div class="modal fade" id="modalListado_{{dia_semana.dia}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document" id="modalListadoPosition_{{dia_semana.dia}}">
                        <div class="modal-content">
                            <div class="modal-header modal_bg_primary h-45 v-top font14" id="modalHeader_{{dia_semana.dia}}">
                                <b>Reservas {{dia_semana.dia}}-{{periodo_actual|get_show_periodo}}</b>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span></button>
                            </div>
                            
                        <table class="table_calendario w-100">
                            <tr class="back1">
                                <td colspan="2" class="w-100 left">
                                    <div style="overflow-y: auto; max-height:300px; min-height:25px;">
                                    <table class="table_calendario w-100">
                                        {% for actividad in dia_semana.lista_actividades %}
                                            {% if actividad.status_id == status_venta %}
                                            <tr class="backventa">
                                                <td class="font14 w-100 left">
                                                    &nbsp;<span class="font14 frontventa">
                                                        {{actividad.nombres}} {{actividad.apellidos}} ({{actividad.hora_ini}} - {{actividad.hora_fin}})
                                                </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                    </div>
                                </td>
                            </tr>
                            
                            <tr class="back2 h-40">
                                <td class="w-50 center">
                                    <input type="text" id="nombres_{{dia_semana.dia}}" class="form-control input w-98 left" autocomplete="off" placeholder="Nombres" onchange="txtValid(this);" onblur="txtValid(this);">
                                </td>
                                <td class="w-50 center">
                                    <input type="text" id="apellidos_{{dia_semana.dia}}" class="form-control input w-98 left" autocomplete="off" placeholder="Apellidos" onchange="txtValid(this);" onblur="txtValid(this);">
                                </td>
                            </tr>
                            <tr class="back1 h-40">
                                <td class="w-50 center">
                                    <input type="text" id="telefonos_{{dia_semana.dia}}" class="form-control input w-98 left" autocomplete="off" placeholder="Telefonos" onchange="txtValid(this);" onblur="txtValid(this);">
                                </td>
                                <td class="w-50 left">
                                    <span class="font14">&nbsp;Horas :</span> <select id="hora_{{dia_semana.dia}}" class="form-control w-50 input h-35">
                                        {% for hora in dia_semana.horas %}
                                        <option value="{{hora.reserva_hora_id}}">{{hora.hora}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr class="back2">
                                <td colspan="2" class="w-100 center">
                                    <textarea class="form-control input w-98" id="mensaje_{{dia_semana.dia}}" rows="2" placeholder="Mensaje"></textarea>
                                    <br>
                                    <button class="btn btn-primary btn-sm" id="btn_reserva_{{dia_semana.dia}}" onclick="homeSolicitarReserva('{{dia_semana.dia}}');">
                                        <i class="nav-icon fas fa-calendar"></i>&nbsp;&nbsp;Solicitar Reserva
                                    </button>
                                    <input type="hidden" id="dia_semana_{{dia_semana.dia}}" value="{{dia_semana.posicion}}">
                                </td>
                            </tr>
                            
                            <tr class="back1">
                                <td colspan="2" class="w-100 h-40 center font14">
                                    <div id="div_resultado_listado_{{dia_semana.dia}}">&nbsp;</div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td colspan="2" class="w-100 right">
                                    <button class="btn btn-secondary btn-sm" name="button_volver_listado_{{dia_semana.dia}}" id="button_volver_listado_{{dia_semana.dia}}" data-dismiss="modal">
                                        <i class="nav-icon fas fa-arrow-left"></i>&nbsp;&nbsp;Volver
                                    </button>
                                </td>
                            </tr>
                        </table>
                        </div>
                    </div>
                </div>
                {% endif %}
            </td>
            {% endfor %}{# for de semana #}
            
        </tr>
        {% endfor %}{# for de calendario #}
    </table>
</form>
