{% extends 'base.html' %}

{% block title %} | Refund Policy {% endblock %}

{% block content %}

<br>
<table class="w-100">
    <tr>
        <td class="w-2">&nbsp;</td>
        <td class="w-96 left">
            <p class="titulo_sucursal center">T&eacute;rminos de Servicio</p>
            <br>
<p style="text-align: justify;">El acceso a este sitio Web implica la aceptaci&oacute;n de estas condiciones de uso sin reservas que regulan el acceso y la utilizaci&oacute;n del mismo con el fin de poner a disposici&oacute;n de los usuarios informaci&oacute;n sobre nuestros productos y servicios.</p>
<p style="text-align: justify;">Se proh&iacute;be expresamente la utilizaci&oacute;n de los contenidos de este sitio Web para su utilizaci&oacute;n con fines comerciales o para su distribuci&oacute;n, transformaci&oacute;n o comunicaci&oacute;n.</p>
<p style="text-align: justify;">Optica Ideal, no responder&aacute; de ninguna consecuencia, daño o perjuicio que pudieran derivarse de dicha utilizaci&oacute;n o uso de la informaci&oacute;n.</p>
<p style="text-align: justify;">Tanto el acceso a esta Web como el uso que pueda hacerse de la informaci&oacute;n contenida en la misma es de la exclusiva responsabilidad de quien lo realiza.</p>
<p style="text-align: justify;">El usuario se obliga a no utilizar la informaci&oacute;n que se publica en esta Web con fines o efectos il&iacute;citos o lesivos, a no dañar o inutilizar la informaci&oacute;n y a no realizar cualquier otra acci&oacute;n que puedan ser contraria al contenido de este Aviso Legal.</p>
<p style="text-align: justify;">Optica Ideal, se reserva el derecho a modificar los contenidos de la oferta comercial de los productos cuando lo estime oportuno y a mantener su contenido actualizado.</p>
<p style="text-align: justify;">Optica Ideal, no puede asegurar la inexistencia de interrupciones o errores en el acceso a este sitio Web, aunque pondr&aacute; sus mayores esfuerzos para evitarlos.</p>

<h4><span>Enlaces</span></h4>
			
<p style="text-align: justify;">Al pinchar en cualquiera de los enlaces (o hiperenlaces) que puedan aparecer en nuestro sitio web, aceptas hacerlo a t&iacute;tulo informativo y reconoces que Optica Ideal, no ejerce ning&uacute;n control sobre ni 
    responde del contenido de la informaci&oacute;n a la que acceda.</p>

<h4><span>Legislaci&oacute;n y jurisdicci&oacute;n aplicable</span></h4>
			
<p style="text-align: justify;">Las presentes condiciones se rigen por la normativa boliviana vigente que le es de 
    aplicaci&oacute;n. Para la resoluci&oacute;n de las controversias que pudieran derivarse como 
    consecuencia de lo dispuesto en las presentes disposiciones, y con renuncia expresa a cualquier 
    otro fuero que pudiera corresponder, el Usuario acuerda someterse a la Jurisdicci&oacute;n de los 
    Juzgados y Tribunales.</p>

<h4><span>Propiedad intelectual</span></h4>
			
<p style="text-align: justify;">Todo el material contenido en la p&aacute;gina web <a href="https://ntsoft-bolivia.com/optica/">ntsoft-bolivia.com/optica/</a> 
    (dibujos, diseños, ilustraciones, fotograf&iacute;as, bandas sonoras, textos escritos, logotipos, marcas comerciales…) 
    son de exclusiva propiedad de Optica Ideal o de nuestros proveedores oficiales. 
    No podr&aacute;s reproducir, por cualquier medio o proceso (excepto por lo que expresamente se establece en este 
    documento), total o parcialmente, distribuir, publicar, transmitir, crear trabajos derivados o basados en, 
    modificar o vender, cualquier material contenido.</p>
<p style="text-align: justify;">La marca registrada <em>Optica Ideal</em> y el resto de marcas y logotipos relacionados, se encuentren o 
    no registrados, expuestos en la p&aacute;gina web <a href="https://ntsoft-bolivia.com/optica/">ntsoft-bolivia.com/optica/</a> , as&iacute; como el nombre 
    de dominio gidaesrl.com, son y permanecer&aacute;n en propiedad exclusiva de Optica Ideal Est&aacute; prohibida cualquier reproducci&oacute;n, distribuci&oacute;n, 
    transmisi&oacute;n, modificaci&oacute;n o utilizaci&oacute;n de estas marcas registradas para cualquier prop&oacute;sito 
    sin el previo consentimiento expreso por escrito de Optica Ideal</p>
<p style="text-align: justify;">No se podr&aacute; eliminar ninguna referencia a copyright, marca registrada u otra notificaci&oacute;n relativa a 
    derechos de propiedad contenidos en la p&aacute;gina <a href="https://ntsoft-bolivia.com/optica/">ntsoft-bolivia.com/optica/</a> , ni cualquier otro contenido incluido 
    en la misma. Se podr&aacute;n realizar copias de las p&aacute;ginas web publicadas en la p&aacute;gina web 
    <a href="https://ntsoft-bolivia.com/optica/">ntsoft-bolivia.com/optica/</a> para su utilizaci&oacute;n privada, personal y sin &aacute;nimo de lucro o comercial, 
    siempre que cualquier copia que se realice de dichas p&aacute;ginas web conserve todas las notificaciones acerca del copyright 
    o derechos de autor y el resto de notificaciones relativas a derechos de propiedad contenidas en la misma.</p>

        </td>
        <td class="w-2">&nbsp;</td>
    </tr>
</table>

<!--pie de pagina-->
{% include 'pages/pie_pagina.html' %}

{% endblock %}