<div id="messagepg" class="container">
    <div class="alert alert-{% if error == 1 %}warning{% else %}success{% endif %} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% if error == 1 %}
        <h5><i class="icon fas fa-exclamation-triangle"></i> Error de Registro!</h5>
        Error al eliminar la reserva, intentelo de nuevo.
        {% else %}
        <h5><i class="icon fas fa-check"></i> Reserva!</h5>
        <h6>Se Elimino la reserva correctamente!</h6>
        {% endif %}
    </div>
</div>